<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <link rel="icon" href="/img/favicon.ico">
</head>
<body>
  <%= htmlWebpackPlugin.tags.header %>
  <!--Body section-->
  <section id="sec_bodyM3" class="container py-2 p-0 d-flex animate__animated animate__flipInX">
    <div class="card rounded-0 border-0 w-100">
      <div class="card-header">
        <p class="mb-0 text-center" style="font-family: poppins1;">Acerca de...</p>
      </div>
      <div class="card-body">
        <div class="row mx-0">

          <section class="col-md-8 col-12 p-1">
            <div class="toast h-100" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-body text-center">
                <p>El sistema de Inventario pretende administrar los activos...</p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam rem amet harum nemo fugiat? Recusandae placeat quasi rerum quae eius. Totam rem explicabo, officia incidunt natus ab temporibus placeat debitis dolore error obcaecati consequatur fugiat quos nihil reprehenderit accusamus quaerat tenetur quidem, fuga, illum mollitia assumenda quisquam numquam. Reprehenderit, doloremque.
              </div>
              <div class="p-2 mt-3 text-right" style="font-size: 16px;">
                Para mas informacion visita <a class="text-info" href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Abrir pagina...">client.online</a>
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast h-100" role="alert" aria-live="assertive" aria-atomic="true" style="border: rgb(4,158,246) solid 2px;">
              <div class="toast-body text-center">
                La aplicación fue diseñada y creada por el desarrollador full-stack <strong>Adbeel Estrada Martinez</strong> miembro del grupo de programadores αΩ SA de CV.
              </div>
              <div class="text-center">
                <img src="/img/nav.png" alt="" class="" style="max-height: 100px;">
              </div>
              <div class="p-2 mt-2 text-right" style="font-size: 16px;">
                <p class="mb-0"> 
                  Para mas informacion del desarrollador visita: 
                  <a class="text-info" href="https://eadbeel94.web.app/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Abrir pagina del desarrollador">eadbeel94.web.app</a>
                </p> 
              </div>
            </div>
          </section>


        </div>
      </div>
    </div>
  </section>
  <section id="sec_bodyM32" class="container py-2 p-0 d-flex animate__animated animate__flipInX">
    <div class="card rounded-0 border-0 w-100"> 
      <div class="card-header">
        <p class="mb-0 text-center" style="font-family: poppins1;">Tecnologias utilizadas en esta aplicacion</p>
      </div>
      <div class="card-body">
        <div class="row mx-0">

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-primary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND HTML</strong>
              </div>
              <div class="toast-body">
                El lenguaje de marcado clásico con lo que está construida toda la web.
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-primary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND CSS</strong>
              </div>
              <div class="toast-body">
                El lenguaje de estilizado con el que se mejora el aspecto visual de la web.
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-primary h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND JAVASCRIPT</strong>
              </div>
              <div class="toast-body">
                Uno de los lenguajes de programación más populares dándole un toque de animación a nuestra web.
              </div>
            </div>
          </section>

          <section class=" offset-md-2 col-md-4 col-12 p-1">
            <div class="toast border-warning h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">BACKEND NODE JS</strong>
              </div>
              <div class="toast-body">
                Javascript siendo el lenguaje utilizado del lado del cliente, ahora también puede correr funciones del lado del servidor.
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1 ">
            <div class="toast border-warning h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">BACKEND MONGO DB</strong>
              </div>
              <div class="toast-body">
                Base de datos NO-SQL de acceso rápido que utiliza el acomodo de datos en tipo JSON.
              </div>
            </div>
          </section>

        </div>
      </div>
      <div class="card-header bg-transparent">
        <p class="mb-0 text-center" style="font-family: poppins1;">Framework y librerias adicionales utilizadas</p>
      </div>
      <div class="card-body">
        <div class="row mx-0">

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-info h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND CSS BOOSTRAP 4</strong>
              </div>
              <div class="toast-body">
                Framework de CSS el cual nos permite estilizar de una manera rápida y sencilla nuestro HTML.
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-info h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND CSS FONTAWESOME 5</strong>
              </div>
              <div class="toast-body">
                Librería de iconos y fuentes las cuales les dará un toque profesional a su WEB.
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-info h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">FRONTEND CSS ANIMATE.CSS</strong>
              </div>
              <div class="toast-body">
                Librería de CSS que nos permite animar nuestros componentes HTML.
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-danger h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">BACKEND EXPRESS JS</strong>
              </div>
              <div class="toast-body">
                Framework de Node JS, express nos permite correr funciones de servidor de una manera más sencilla.
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-danger h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">BACKEND MULTER</strong>
              </div>
              <div class="toast-body">
                Modulo/plugin utilizado en Node JS el cual nos permite manipular archivos del lado del servidor.
              </div>
            </div>
          </section>

          <section class="col-md-4 col-12 p-1">
            <div class="toast border-danger h-100" role="alert" aria-live="assertive" aria-atomic="true" >
              <div class="toast-header">
                <strong class="mr-auto">BACKEND PASSPORT JS</strong>
              </div>
              <div class="toast-body">
                Con el apoyo de este plugin se puede manejar de una manera segura el uso de sesiones durante los logins.
              </div>
            </div>
          </section>



        </div>
      </div>
    </div>
  </section>
  <%= htmlWebpackPlugin.tags.footer %>
</body>
</html>