<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <link rel="icon" href="/img/favicon.ico">
</head>
<body>
  <%= htmlWebpackPlugin.tags.header %>
  <!--Body section-->
  <section id="sec_bodyA1" class="container-fluid mt-2 animate__animated animate__fadeIn">
    <div class="row mx-0">
      <div class="col-xl-9 col-12 my-1">
        <div class="card" >

          <form id="frm_main" class="m-2">
            <h3 class="text-center my-3">Informacion del articulo</h3>
            <div class="row mx-0" style="min-height: 68vh;">
              <section class="col-xl-12 col-12 form-group row m-0"></section>
            </div>
          </form>

        </div>
      </div> 
      <div class="col-xl-3 col-12 my-1">
          
        <div id="sec_images" class="card p-1 h-100">

          <h3 class="text-center my-3">Imagen del articulo</h3>
          <div class="h-75 d-flex align-items-center">
            <img src="" alt="" class="d-block w-100">
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--Modal section-->
  <section id="sec_modal"></section>
  <%= htmlWebpackPlugin.tags.footer %>
</body>
</html>