<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <link rel="icon" href="/img/favicon.ico">
</head>
<body>
  <%= htmlWebpackPlugin.tags.header %>
  <!--Body section-->
  <section id="sec_bodyM2" class="container py-2 p-0 d-flex">
    <div class="card bg-transparent rounded-0 border-0 w-100"> 
      <div id="spc_allcards" class="row mx-0 p-1">
        <div class="col-md-12 col-12 px-0">
          <div class="card text-center d-flex h-100 bg-transparent border-0" style="font-family: balo1; font-size: 3.8rem; justify-content: center;">
            <div>THERE'S NOTHING HERE!!!</div>
            <i class="far fa-dizzy" style="font-size: 15rem;"></i>
            <div style="margin-top: 2rem;">404</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sec_modal"></section>
  <%= htmlWebpackPlugin.tags.footer %>
</body>
</html>