#sec_bodyU1 label{
  font-family: balo1; padding-top: 0.5rem; font-size: 16px; margin-bottom: 0;
}
#sec_bodyU1 input{
  font-family: poppins1; font-size: 15px; padding-left: 1rem;
}
#sec_bodyU1 div.input-group{
  border-style: solid; border-width: 1px;
}
#sec_bodyU1 .card{
  margin-bottom: 4rem !important;
}
div.toast{
  opacity: 1; border-width: 3px; max-width: 100%;
}
div.toast div.toast-header{
  font-size: 16px; font-family: poppins1;
}
div.toast div.toast-body{
  font-size: 14px;
}
#inp_deps .btn{
  width: 45%;
}