#sec_login div.text-light{
  font-size: 50px; font-family: yanone1;
}
#sec_login div.text-primary{
  font-family: balo1; font-size: 32px; line-height: 1;
}
#sec_login div.form-label-group{
  font-family: poppins1;
}
#sec_login div.form-label-group input{
  font-size: 26px; border-radius: 0.6rem; padding-left: 1rem;
}
#sec_login div.form-label-group label{
  font-size: 20px;
}
#sec_login button{
  font-size: 24px;
}


.col-12 .card{
  width: 53vw;
}

@media (max-width: 768px) {
  .col-12 .card{
    width: 100%;
  }
  #sec_login div.text-light{
    font-size: 34px;
  }
  #sec_login div.text-primary{
    font-size: 22px;
  }
  #sec_login input{
    font-size: 14px !important;
  }
  #sec_login label{
    font-size: 16px !important;
  }
  #sec_login button{
    font-size: 16px !important;
  }
}