<!--Footer section-->
<section id="sec_footer" class="container-flow text-secondary w-100 sticky-bottom mt-2 bg-secondary animate__animated animate__fadeIn fixed-bottom">
  <div class="card bg-transparent rounded-0 border-0" >
    <div class="container">
      <div class="row mx-0 mt-2">

        <div class="col-12 text-center my-2" >
          <div class="card border-0 bg-transparent">
            <div class="row">
              <span class="col-lg-5 text-primary text-uppercase pr-3">INVENTORY<i class="fas fa-file-invoice pl-2"></i></span>  
              <span class="col-lg-7 text-light">
                Copyright © 2020. Todos los derechos reservados. 
                <a href="/about.html" target="_blank" data-toggle="tooltip" data-placement="top" title="Ir a acerca de...">
                  Designed by EADBEEL 2020.
                </a>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>