#sec_bodyM1{
  min-height: 90vh; justify-content: center;
}
#sec_bodyM1 div.card.bg-transparent{
  align-self: center;
}
#sec_bodyM1 div.col-xl div.card.border-0{
  min-height: 440px;
}
#sec_bodyM1 div.card-header{
  font-size: 22px; font-family: balo1; line-height: 1; padding-top: 1.5rem;
}
#sec_bodyM1 div.card-body{
  justify-content: center;
}
#sec_bodyM1 div.card-body button i{
  font-size: 120px;
}

@media (max-width: 768px) {
  #sec_bodyM1 div.card-header{
    font-size: 16px; height: 45px; padding: 0.6rem; 
  }
  #sec_bodyM1 .card-footer{
    height: 1px; overflow: hidden;
  }
  #sec_bodyM1 div.col-xl div.card.border-0{
    min-height: 50px;
  }
  #sec_bodyM1 div.card-body button i{
    font-size: 40px;
  }
}